body {
    background-color: #11133C;
    text-align: center;
    vertical-align: middle;
    color: #fcf8f3;
    width: auto;
}
h1 {
    size: 64em;
}
a {
    color: #fcf8f3;
}
.title {
    font-size: 8em;
    font-family: 'Times New Roman', Times, serif
}
.text {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif
}
.bouvet {
    color: #de8209;
    font-weight: bold;
}